body{
    background-color: #EEE2D6;
    text-align: center;
    margin: 0;
    padding: 2%;
}

div{
    text-align: left;
    background-color: #EDC7B7;
    color: #123C69;
}

form{
    text-align: left;

}
h3{
    color: #AC3B61;
}

#styleList{
    display: flex;
    width: 90%;
    margin-left: 2rem;
}



#block{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 1rem;
    width: 85vw;
    margin-left: 6%;
}

#button-block{
    width: 90%;
    height: 4rem;
    position: relative;
    text-align: center;
    background-color: #EEE2D6;
    margin: 1rem;
    margin-left: 6%;
   
}