body{
    background-color: #EEE2D6;
    text-align: center;
    margin: 0;
    padding: 2%;
}

div{
    text-align: left;
    background-color: #EDC7B7;
    color: #123C69;
    font-size: 1.2rem;
    font-weight: 600;

}

form{
    text-align: left;

}
h3{
    color: #AC3B61;
}

#styleList{
    display: flex;
    width: 90%;
    margin-left: 2rem;
}



#block{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #EEE2D6;
    margin-top: 1rem;
    width: 85vw;
    margin-left: 6%;
}


#button-block{
    width: 90%;
    height: 4rem;
    position: relative;
    text-align: center;
    background-color: #EEE2D6;
    margin: 0.5rem;
    margin-left: 6%;
   
}

.container{
    border: 1px solid #BAB2B5;
    border-radius: 0%;
    width: 100%;
    padding: 5px 20px;
}

#listed{
    height: 4rem;
    display: inline-block;
}
.date{
    font-size: 0.9rem;
    margin: 2px;
}

i{
    font-size: 1.2rem;
}

.Personal{
    position: absolute;
    background-color: #FF4136;
    text-align: center;
    height: 3rem;
    width: 8rem;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}

.School{
    position: absolute;
    background-color: #A9A9A9;
    text-align: center;
    height: 3rem;
    width: 8rem;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}

.Cleaning{
    position: absolute;
    background-color: #BA55D3;
    text-align: center;
    height: 3rem;
    width: 8rem;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}

.Other{
    position: absolute;
    background-color: #20BF9F;
    text-align: center;
    height: 3rem;
    width: 8rem;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}

.Work{
    position: absolute;
    background-color: #00CED1;
    text-align: center;
    height: 3rem;
    width: 8rem;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}